
# Ignorar a pasta de build do Maven
/target/

# Ignorar arquivos de configuração sensíveis
src/main/resources/application.properties

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários do sistema
*.class
*.swp
*.swo
*.DS_Store

# Ignorar configurações de IDEs

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/